<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-half">
        <%= image_pack_tag 'land_advisors_header.svg' , alt: 'Edit Entry', class: 'image is-fullwidth' %>
      </div>
    </div>

    <h2 class="subtitle is-3">
      Do you need to sell your land fast? Are you tired of paying 
      property taxes on land you don’t have any use for? Do you owe back taxes?
      Not a problem!
      Just provide us with some basic information and start getting offers from 
      interested buyers now! 
     </h2>
     
    <%= render 'form', lead: @lead %>
  </div>
<section