<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-half">
        <%= image_pack_tag 'land_advisors_header.svg' , alt: 'Edit Entry', class: 'image is-fullwidth' %>
      </div>
    </div>

    <h2 class="subtitle is-3">
      Thank you! Your form has been submitted.
      <br> Someone will be in contact with you shortly.
    </h2>
     
  </div>
<section