<section class="section">
  <div class="container">
    <h1 class="title is-1">Sell Your Land Header</h1>

    <h2 class="subtitle is-3">
      Do you need to sell your land fast? Are you tired of paying 
      property taxes on land you don’t have any use for? Provide us with some basic information below and start getting offers from 
      interested buyers now! 
     </h2>
     
    <%= render 'form', short_form: @short_form %>
  </div>
<section