<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-half">
        <%= image_pack_tag 'land_advisors_header.svg' , alt: 'Edit Entry', class: 'image is-fullwidth' %>
      </div>
    </div>

    <p class="subtitle is-3">
      Do you need to sell your land fast? Are you tired of paying 
      property taxes on land you don’t have any use for? Do you owe back taxes?
      Not a problem!
      Just provide us with some basic information and start getting offers from 
      interested buyers now! 
     </p>

    <div class="columns">
      <div class="column">
        <div class="box">
          <h2 class="title is-3">Keep Your Land</h2> 
          <p class="subtitle is-5">
            We'll provide you with tips Lorem ipsum dolor sit amet. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
          <a href="#" class="button is-primary is-medium">Keep it!</a>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <h2 class="title is-3">Sell Your Land</h2>
          <p class="subtitle is-5">
            We'll provide you with tips Lorem ipsum dolor sit amet. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
          <a href="#" class="button is-primary is-medium">Sell it!</a>
        </div>
      </div>
    </div>
     
  </div>
<section