<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-half">
        <%= image_pack_tag 'land_advisors_header.svg' , alt: 'Edit Entry', class: 'image is-fullwidth' %>
      </div>
    </div>

    <p class="subtitle is-3">
      Do you own land and aren't sure what to do with it?
    </p>

    <div class="columns">
      <div class="column is-flex">
        <div class="box">
          <h2 class="title is-3">Keep Your Land</h2> 
          <p class="subtitle is-5">
            Are you looking to hold onto your land instead of selling? Whatever your financial situation is,
            we'll provide you with answers and resources to keep your land in your family. You don't have to sell you don't want to!
          </p>
          <%= link_to "Keep it!", new_keep_lead_path, class: "button is-primary is-medium" %>
        </div>
      </div>
      <div class="column is-flex">
        <div class="box">
          <h2 class="title is-3">Sell Your Land</h2>
          <p class="subtitle is-5">
            Do you need to sell your land fast? Are you tired of paying 
            property taxes on land you don’t have any use for? Do you owe back taxes?
            Not a problem!
            Just provide us with some basic information and start getting offers from 
            interested buyers now! 
          </p>
          <%= link_to "Sell it!", new_sell_lead_path, class: "button is-primary is-medium" %>
        </div>
      </div>
    </div>
     
  </div>
<section